NODE_ENV=development
DOMAIN=http://localhost:3900
PORT=4000

MONGO_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/rackemm?retryWrites=true&w=majority
MONGO_URI_LOCAL=mongodb://127.0.0.1:27017/rackemm?directConnection=true&serverSelectionTimeoutMS=2000

STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_UPLOAD_PRESET=
CLOUDINARY_API_SECRET=

JWT_SECRET=
JWT_SECRET_EXPIRES_IN=3d
JWT_COOKIE_EXPIRES_IN=3

SENDGRID_API_KEY=
SUPPORT_EMAIL=
